@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/poppins/100.css";
@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/900.css";

:root {
  --foreground: #1f1f20;
  --background: #b7bcce;
  --accent: #1f1f20;
}

html,
body {
  color: var(--foreground);
  background-image: linear-gradient(10deg, #b7bcce 0%, #eceff1 100%);
}

.gradient-p {
  background: linear-gradient(to right, var(--accent), #2f3452);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
